In [6]:
# importing all required libraries

import pandas as pd
import numpy as np
import requests
import os

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import tweepy
import time
import json
import csv

# install python-dotenv for this
from dotenv import load_dotenv
#Reading access keys from .env 
load_dotenv()

True

In [7]:
#access keys for twitter
consumer_key = os.getenv('API_KEY')
consumer_secret = os.getenv('API_SECRET_KEY')
access_token = os.getenv('ACCESS_TOKEN')
access_secret = os.getenv('ACCESS_SECRET_TOKEN')

In [8]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

#### DEBUGGING START

In [26]:
user = api.get_user(screen_name='svpino')
# print(user.screen_name)
# for friend in user.friends():
#        print(friend.screen_name)
type(user.friends())

tweepy.models.ResultSet

In [9]:
#access tweet with username and tweet id

# name = 'ElizabethOf_'
# id = "1488579454058250242"
# replies = []

# name = 'timigod'
# id = "1483151428709498880"
# replies = []


# name = 'skweird'
# id = "1489163967767404549"
# replies = []

# name = 'svpino'
# id = "1477384132007235587"
# replies = []

# name = 'haltakov'
# id = "1488228165830983683"
# replies = []

# name = 'Nini0la'
# id = "1323168000254578689" #1323168000254578689 "1364534842386432000"
# replies = []

# name = 'Oyinda_DS'
# id = "1488177166382678019" 
# replies = []

# name = 'TheOyinbooke'
# id = "1483604994364424194" 
# replies = []

# name = 'Princesss_ORB'
# id = "1487172200478265360" 
# replies = []

name = 'MBuhari'
id = "1100797066391867392" 
replies = []

# name = 'GoogleAI'
# id = "1487135339000913920" 
# replies = []



for tweet in tweepy.Cursor(api.search_tweets, q='to:'+name).items(1000):
    if hasattr(tweet, 'in_reply_to_status_id_str'):
        if (tweet.in_reply_to_status_id_str==id):
            replies.append(tweet)
            
replies[0].text

'@MBuhari Dear @MBuhari  please we need your help regarding MTN / Glo / Airtel and all other Telecommunications Servâ€¦ https://t.co/avrNpVIfPT'

In [81]:
# replies[0].text
len(replies)

30

#### DEBUGGING END [not finished]

In [22]:
with open('replies.csv', 'w') as f:
    csv_writer = csv.DictWriter(f, fieldnames=('user_name', 'name','date', 'response'))
    csv_writer.writeheader()
    for tweet in replies:
        row = {'user_name': tweet.user.screen_name, 'name': tweet.user.name, 'date': tweet.created_at,'response': tweet.text.replace('\n', ' ')}
        csv_writer.writerow(row)

In [46]:
a=pd.read_csv('replies.csv')
a

,user_name,name,date,response
0,scriptedbaker,JOHNSON ELIZABETH,2022-02-01 19:06:57+00:00,@ElizabethOf_ @Fatbabe25 My sister! let Jesus ...
1,ElizabethOf_,Lizzy,2022-02-01 18:42:29+00:00,@Fatbabe25 @scriptedbaker To travel now and se...
2,Fatbabe25,MFJPM,2022-02-01 18:28:28+00:00,@ElizabethOf_ @scriptedbaker What plan? Don't ...

In [24]:
with open('tweet_json.txt', 'w') as file:
    for reply in replies:   
        json.dump(tweet._json, file)
        file.write('\n')

In [44]:
jsondf = []

with open('tweet_json.txt', 'r') as json_f:
    for line in json_f:
        json_data  = json.loads(line)
        jsondf.append({'tweet_id' : json_data['in_reply_to_status_id_str'],
                       #'user_name' : json_data['scrren_name'],
                       'response' : json_data['text'],
                       'date':json_data['created_at']})
        
        
api_df = pd.DataFrame(jsondf, columns=['tweet_id', 'user_name', 'response', 'date'])

In [45]:
api_df

,tweet_id,user_name,response,date
0,1488579454058250242,NaN,@ElizabethOf_ @scriptedbaker What plan? Don't ...,Tue Feb 01 18:28:28 +0000 2022
1,1488579454058250242,NaN,@ElizabethOf_ @scriptedbaker What plan? Don't ...,Tue Feb 01 18:28:28 +0000 2022
2,1488579454058250242,NaN,@ElizabethOf_ @scriptedbaker What plan? Don't ...,Tue Feb 01 18:28:28 +0000 2022

In [37]:
json_data

{'created_at': 'Tue Feb 01 18:28:28 +0000 2022',
 'id': 1488580024445947906,
 'id_str': '1488580024445947906',
 'text': "@ElizabethOf_ @scriptedbaker What plan? Don't annoy me pls ðŸ˜©",
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [{'screen_name': 'ElizabethOf_',
    'name': 'Lizzy',
    'id': 723824556083929088,
    'id_str': '723824556083929088',
    'indices': [0, 13]},
   {'screen_name': 'scriptedbaker',
    'name': 'JOHNSON ELIZABETH',
    'id': 4804180933,
    'id_str': '4804180933',
    'indices': [14, 28]}],
  'urls': []},
 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': 1488579454058250242,
 'in_reply_to_status_id_str': '1488579454058250242',
 'in_reply_to_user_id': 723824556083929088,
 'in_reply_to_user_id_str': '723824556083929088',
 'in_reply_to_screen_name': 'ElizabethOf_',
 'user': {'id': 2274692722,
  'id_str': '2274692722',
  'name': 'MFJPM',
  'screen_name': 'Fatbabe25',
  'location': 'Looking for money boulevard ',
  'description': 'Tough times are lasting.',
  'url': None,
  'entities': {'description': {'urls': []}},
  'protected': False,
  'followers_count': 270,
  'friends_count': 661,
  'listed_count': 3,
  'created_at': 'Sat Jan 11 11:43:40 +0000 2014',
  'favourites_count': 12328,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': False,
  'statuses_count': 52605,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': 'C0DEED',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1488959293860761601/ZIGO7J1i_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1488959293860761601/ZIGO7J1i_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2274692722/1637002779',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': True,
  'default_profile': True,
  'default_profile_image': False,
  'following': True,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none',
  'withheld_in_countries': []},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 0,
 'favorite_count': 0,
 'favorited': False,
 'retweeted': False,
 'lang': 'en'}

In [ ]:
f (tweet.in_reply_to_status_id_str==id):
    print(tweet.text)